# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.tic-tac-toe.iml
# Datasource local storage ignored files
/../../../../../../:\University\tic-tac-toe\.idea\.idea.tic-tac-toe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
